<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <nav>
        <ul>
            <a href="../../index.html"><img src="../../images/logo2.png" /></a>
            <h3>Quiz App</h3>
        </ul>
        <ul>
            <li class="active user-name">67890</li>
        </ul>
    </nav>
    <div class="container show-title-quiz">
        <label style="font-size:25px">Title Quiz</label>
        <div class="hr"></div>
        <input id="titleQUestion" type="text" placeholder="Question title" class="as p-2 b-radius" />
        <a href="../../index.html" class="btn-cancel-quiz">Cancel</a>
        <button id="btn-create-quiz" class="btn-create-quizs" >Create</button>
    </div>

    <div class="container show-create-question">
        <header style="font-size:25px;text-align:center" name="create-question">Create new question</header>
        <section>
            <label style="font-size:20px">Question</label>
            <input id="title" type="text" placeholder="Question title" class="as" />
            <div class="text-danger" id="validationTitle"></div>
            <label style="font-size:18px">Answers</label>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctA" value="A"><span></span>
                <input id="choiceA" type="text" placeholder="AnswerA" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceA"></div>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctB" value="B">
                <input id="choiceB" type="text" placeholder="Answer B" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceB"></div>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctC" value="C">
                <input id="choiceC" type="text" placeholder="Answer C" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceC"></div>
            <div class="form-group">

                <input type="radio" class="correct" name="correct" id="correctD" value="D">
                <input id="choiceD" type="text" placeholder="Answer D" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceD"></div>
        </section>
        <menu>
            <button id="create">Create</button>
        </menu>
    </div>
    <div class="displayQuestion container">

    </div>
</body>
<script src="create_edit_question_view.js" type="module"></script>

</html>