<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <nav id="navbar-menu" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-flex">
                <a href="../../index.html"><img src="../../images/logo2.png" /></a> 
                <h2 class="logo-title">Quiz App</h2>
            </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
        </div>
        <form class="d-flex">
          <button class="border-0 bg-sm-none user-name">67890</button>
        </form>
        </div>
    </nav>
    <div class="container show-title-quiz">
        <label style="font-size:25px">Title Quiz</label>
        <div class="hr"></div>
        <input id="titleQUestion" type="text" placeholder="Question title" class="as p-2 b-radius" />
        <a href="../../index.html" class="btn btn-cancel-quiz">Cancel</a>
        <button id="btn-create-quiz" class="btn btn-create-quizs" >Create</button>
    </div>

    <div class="container show-create-question">
        <header style="font-size:25px;text-align:center" name="create-question">Create new question</header>
        <section>
            <label style="font-size:20px">Question</label>
            <input id="title" type="text" placeholder="Question title" class="as" />
            <div class="text-danger" id="validationTitle"></div>
            <label style="font-size:18px">Answers</label>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctA" value="A"><span></span>
                <input id="choiceA" type="text" placeholder="AnswerA" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceA"></div>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctB" value="B">
                <input id="choiceB" type="text" placeholder="Answer B" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceB"></div>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctC" value="C">
                <input id="choiceC" type="text" placeholder="Answer C" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceC"></div>
            <div class="form-group">
                <input type="radio" class="correct" name="correct" id="correctD" value="D">
                <input id="choiceD" type="text" placeholder="Answer D" class="as" />
            </div>
            <div class="text-danger validationchoice" id="validationChoiceD"></div>
        </section>
        <menu>
            <button class="btn" id="create">Create</button>
        </menu>
    </div>
    <div class="displayQuestion container">

    </div>
</body>
<script src="create_edit_question_view.js" type="module"></script>

</html>