body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.gif");
    
}
 .b-radius {
     border-radius: 10px;
 }
 /* ------------------------------Menu--------------------- */
 
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow:0 1px 0.5rem black;
     background-color: rgb(231, 224, 224);
     position: sticky;
     top: -5px;
 }
 
 ul img {
     margin-left: 30px;
    width: 15px;
 }
.search {
    width: 300px;
}

 ul>h3 {
     margin-left: 8px;
     margin-top: 10px;
  
     
 }
 
 nav img {
     width: 90px;
     cursor: pointer;
     padding: -10px
 }
.contain-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#no-data {
    margin-top: 20px;
}
#no-data div img {
    margin: auto;

}
.control-img img {
    width: 200px;
    height:150px;
}

.btn-link{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.contain-link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

 ul {
     display: flex;
     margin-top: 1%;
     margin-right: 3%;
     margin-bottom: 1%;
     align-items: center;
 }
 
 ul li {
     list-style: none;
     padding: 5px 10px;
     margin-left: 5px;
     cursor: pointer;
 }
 
 ul li a {
     text-decoration: none;
     font-size: 20px;
     color: #2196F3;
 }
 
 ul li:hover {
     background-color: #2196F3;
     border: none;
 }
 
 .active {
     background-color: #2196F3;
     color: white;
 }
 
 ul h2 {
     margin-top: 5px;
 }
 /* play quiz */
 .play-quiz,.create-quiz{
     border-top: 8px solid #f5c20b;
     width: 35%;
     height: 60vh;
     margin-top: 1rem;
     background: rgba(244, 237, 237, 0.711);
     padding: 1rem;
     border-radius: 7px;
     box-shadow:0 2px 0.3rem black;
     
 }
 .play-quiz:hover,.create-quiz:hover{
    box-shadow: 0 0.4rem 0.7rem black;
 }
 .text-btn-card{
    color: #000;
    font-weight: 400;
    

 }
 .text-btn-card:hover{
     color:#f5c20b
 }
.create-quiz img{

     height: 40vh;
     width: 100%;
 }
 .play-quiz img{
    width: 100%;
     height:40vh;
 }

 /* -------------Container-------------- */
 
 .show-create-question,
 .show-title-quiz {
     width: 60%;
     margin-top: 30px;
     padding: 10px;
     border-radius: 10px;
     background: rgba(244, 237, 237, 0.711);
    border-top: 5px solid rgb(228, 184, 8);
     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }
.btn-create-quizs{
    background:#f5c20b;
}
.show-create-question .validationchoice{
   
    margin-top: -1.3rem;
}
.show-create-question #create{
    background:#f5c20b;
}
.show-create-question section{
    margin-top: -1rem;
}
 .container button {
     border: none;
     padding: 9.8px 1.7rem;
     margin-top: 0.6rem;
     margin-left: 0.5rem;
    
 }
 .container button:hover {
    background: rgb(125, 162, 244);
   

}


 /* ----------------------------- Display question   --------------------------   */
 
 input {
     width: 90%;
     display: block;
     font-size: 1.1rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     border: none;
     border-bottom: 1px solid #dbe2e7;
 }
 
 input:focus {
     transition: 0.5s;
     
     outline: none;
     border-bottom: 2px solid #2196F3;
 }
 
 .form-group {
     width: 100%;
     display: flex;
     align-items: center;
 }
 
 .form-group .correct {
     width: 5%;
    
 }
 
 .form-group .as {
     padding: 0.3rem;
     width: 84%;
     padding: 5px 10px;
     border-radius: 3px;
 }
 #title{
     padding: 10px;
     margin: auto;
     border-radius: 4px;
     
 }
 #title-quiz{
    padding: 0.3rem;
 
   

 }
 section #title{
    padding: 0.3rem;
 }
 /* --------------------SIGN IN / SIGN UP ----------------*/
 
 .b-radius {
     border-radius: 30px;
 }
 
 .go-sign-up,
 .go-sign-in {
     cursor: pointer;
     text-decoration: underline;
 }
 .contain-sign-in{
    background: rgba(244, 237, 237, 0.711);
    width: 31%;
    margin-top: 5.5rem;
    padding: 1.5rem 0;
 
  
 }
 #validationEmailLogin, #validationPasswordLogin{
     margin-top: -0.5rem;
 }
 .contain-sign-in input{
     background: rgba(211, 217, 240, 0.902);

 }

 .contain-sign-up{
    background: rgba(244, 237, 237, 0.711);
    width: 35%;
    margin-top: 2rem;
    padding: 1rem 0;
 }
 .contain-sign-up .signup-label{
     margin-top: -50px;
 }
 #validationEmail, #validationUsername, #validationPassword, #validationConPass{
     margin-top: -0.5rem;
 }
 .contain-sign-up .form-control{
    margin-top: -0.5rem;
 }
 /*---------------- Display question ----------------- */
 
 .displayQuestion {
    
     margin-bottom: 100px;
     text-align: center;
     width: 100%;
 
 }
 
 .show-question-answers {
    width: 73%;
    margin: auto;
    background: rgba(244, 237, 237, 0.711);
     border-radius: 5px;
   
 }
 .show-question-answers .answers{
     margin-top: -1.5rem;
 }
 #show-good-bad-answers div{
     background: rgba(228, 233, 220, 0.706);
     width: 80%;
     margin: auto;
 }
 
 .card {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     margin: 20px;
     padding: 10px;
     border: 1px solid var(--main-color-light);
     background-color: white;
     border-radius: 15px;
 }
 
 .title {
     padding: 20px;
 }
 
 .actions {
     width: 10%;
     display: flex;
     justify-content: space-between;
     padding: 5px;
     cursor: pointer;
 }
 
 .actions img {
     width: 30%;
 }
 
 .answers {
     width: 75%;
     margin: auto;
     /* display: flex;
            flex-direction: column;
            margin-left: 13%; */
     display: grid;
     gap: 1rem;
     grid-template-columns: auto auto;
     padding: 10px;
 }
 
 .answerDisplay {
     background: rgb(240, 3, 3);
     border-radius: 5px;
     padding: 10px;
     margin: 5px;
     color: #fff;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }
 
 .displayQuestion .edit {
     width: 7%;
     margin-right: 10px;
     background: #2196F3;
     cursor: pointer;
     border-radius: 5px;
     margin-top: -1rem;
   
 }
 
 .displayQuestion .delete {
     width: 7%;
     margin-left: 18px;
     background: red;
     cursor: pointer;
     border-radius: 5px;
     margin-top: -1rem;
    
 }
 
 
 .container {
     box-sizing: border-box;
     padding-bottom: 1px;
 }
 
 .b-radius {
     border-radius: 10px;
 }
 
.go-sign-up,
.go-sign-in {
    cursor: pointer;
    text-decoration: underline;
}

.go-sign-up:hover,
.go-sign-in:hover {
text-decoration: none;
color: white;
text-decoration: none;
color: white;
}
 

.control-one-quiz{
     width: 29% ;
     margin-bottom: 0.5rem;
}
#quiz, #myquiz{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;   
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
}
#back-from-show-correction, .back-from-noquestion {
    font-size: 20px;
    background: rgb(96, 101, 99);
    text-align: center;
    padding: 7px 30px ;
    color: #fff;
    cursor: pointer;

}
.btn-history{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#no-data{
    padding-top: 2rem;
}
 .back-from-noquestion:hover {
    background: rgb(228, 184, 8);
}
.back-btn-correction{
    margin-top: 1rem;
    width: 11%;
   
}
#back-from-show-correction:hover{
    background: rgb(8, 162, 228);
}


.quiz-title {
    font-size: 30px;
    width: 110%;
    padding: 10px;
    background: rgba(231, 240, 217, 0.792);
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.quiz-title:hover{
    background: rgb(125, 162, 244);
    color: white;
}
 #progress-bar{
     height: 20px;
     width: 100%;
     background: #000;
 }
.index-question{
    height: 100%;
    background: orange;
    width: 99%;
}
 .answers {
     display: grid;
     grid-template-columns: auto auto;
     gap: 10px;
     margin-top: 3rem;
    
 }
 
.grid-item {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    font-size: 30px;
    
}
 
.grid-item:hover {
    transition-delay:0.4s;
    background-color: rgb(3, 166, 44);
    cursor: pointer;
    border-radius: 6px;
}
 
 .title-question {
     font-size: 35px;
     margin: auto;
     width: 90%;
     margin-top: 3rem;
     padding: 0.5rem;
     background: rgba(246, 205, 18, 0.73);
     color: rgb(250, 250, 250);
 }
 
 .show_score {
     height: 300px;
     /* width: 100%; */
     /* display: flex;
    justify-content: center;
    align-items: center; */
 }
 #show-score h1{
     color: #f5c20b;
 }
 .score {
     font-size: 130px;
     color:#f5c20b;
 }
 
 .create-question {
     width: 50%;
 }
 
 .bg-correct {
     background: rgb(0, 255, 128);
 }
 
 .bg-incorrect {
     background: rgb(222, 16, 54);
 }
 
 .bg-sm-none {
     background: #fff;
     box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
 }
 .validationchoice{
     margin-left: 4rem;
     margin-top: -1rem;
     
 }
 /* display quiz */
 .title-quiz{
    margin-top: 1.5rem;
    color: #fff;
    text-align: center;
    text-shadow:0 1px 0.3rem #c0c0be;
 }
 #dom-show-quiz{
     margin-bottom: 1rem;
 
 }

 .btn-find-quiz{
     background: rgb(228, 184, 8);
     width: 12%;
 }
 .btn-find-quiz:hover{
     background: rgb(227, 221, 210);
 }


 #btn-good-bad-answer{
     padding: 40px 10px;
     background: rgb(228, 184, 8);

 }
 #btn-good-bad-answer:hover{
    background: rgb(96, 101, 99);
    color:#fff; 
}
.btn-cancel-quiz{
    height: 43px;
    /* margin-top: px; */
    margin-bottom: 10px;
}


.btn-send{
    margin-top: 2.8rem;
}
.btn-send #cancel{
    margin-right: 19px;
    padding:1rem 2rem;
    background: rgb(96, 101, 99);
    color:#fff;
}
.btn-send #play-again{
    margin-right: 19px;
    padding: 1rem 2rem;
    background: #f5c20b;
    color:#fff;
}
.btn-send #play-again:hover{
    background:rgba(9, 174, 240, 0.954)
}
.btn-send #cancel:hover{
    background: rgb(240, 59, 9);
}
.control-one-quiz .btn-myquiz{
    justify-content: center;
}
.control-one-quiz .btn-myquiz .delete-quiz{
    background: rgb(192, 195, 192);
    padding: 0.5rem 3rem;
}
.control-one-quiz .btn-myquiz .delete-quiz:hover{
    background: rgb(240, 59, 9);
    color: #fff;
}
.control-one-quiz .btn-myquiz .edit-quiz{
    padding: 0.5rem 3.3rem;
    background:#f5c20b;
}
.control-one-quiz .btn-myquiz .edit-quiz:hover{
    background: rgba(9, 174, 240, 0.954);
    color: #fff;
}
.btn-back-to-all-quiz{
    background: #f5c20b;
    margin-bottom: 1rem;
}


.list-of-orrection{
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-right: 6rem;
    margin-bottom: -3rem;
    color:#f5c20b;
}

/* create quiz */
.show-title-quiz{
    width: 60%;
    margin-top: 3rem;
    background: rgba(244, 237, 237, 0.711);
    border-top: 7px solid rgb(228, 184, 8);
    padding: 1rem 2rem;

}
.show-title-quiz input{ 
    background: rgba(228, 233, 220, 0.939);
    border: none;
    width: 95%;
   

}
.show-title-quiz .hr{
    height: 2px;
    background: #000;
    width: 95%;

}
.btn-cancel-quiz{
    text-decoration: none;
    color: #fff;
    background: rgb(96, 96, 96);
    padding: 0.7rem 1rem;
    margin-top: 1rem;

}
.btn-cancel-quiz:hover{
    text-decoration: none;
    background: rgb(230, 82, 37);
    color: #fff;

 

}
.btn-create-quizzs{
    width: 10%;
    margin-top: -5px;
}
#back-from-show-correction{
    background: rgb(222, 205, 14);
    padding: 0.3rem 1rem;

}
#create:hover{
    background: rgb(111, 109, 109);
    color: #fff;
}
#sign-in{
    margin-left: -1px;
}
#sign-up{
    margin-left: -1px;
}
.contain-img img{
  
    background: rgba(245, 232, 232, 0.704);
    border-radius: 7px;
    height: 60vh;
}

.show-history{
    font-size: 1.3rem;
}














 @media (max-width: 768px) {
     .create-question {
         width: 100%;
     }
 }