body {
    margin: 0;
    padding: 0;
    background: #61b0da;/*linear-gradient(hsl(168, 100%, 50%), , #db94f3); */
}
 .b-radius {
     border-radius: 10px;
 }
 /* ------------------------------Menu--------------------- */
 
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow:0 1px 0.5rem black;
     background-color: rgb(231, 224, 224);
     position: sticky;
     top: -5px;
 }
 
 ul img {
     margin-left: 30px;
    width: 15px;
 }
.search {
    width: 300px;
}

 ul>h3 {
     margin-left: 8px;
     margin-top: 10px;
  
     
 }
 
 nav img {
     width: 90px;
     cursor: pointer;
     padding: -10px
 }
.contain-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#no-data {
    margin-top: 20px;
}
#no-data div img {
    width: 500px;
    height: 450px;
    margin: auto;

}
.control-img img {
    width: 200px;
    height:150px;
}

.btn-link{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.contain-link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

 ul {
     display: flex;
     margin-top: 1%;
     margin-right: 3%;
     margin-bottom: 1%;
     align-items: center;
 }
 
 ul li {
     list-style: none;
     padding: 5px 10px;
     margin-left: 5px;
     cursor: pointer;
 }
 
 ul li a {
     text-decoration: none;
     font-size: 20px;
     color: #2196F3;
 }
 
 ul li:hover {
     background-color: #2196F3;
     border: none;
 }
 
 .active {
     background-color: #2196F3;
     color: white;
 }
 
 ul h2 {
     margin-top: 5px;
 }
 /* play quiz */
 .play-quiz,.create-quiz{
     border-top: 8px solid #1736e8;
     width: 35%;
     height: 60vh;
     margin-top: 1rem;
     background: rgb(134, 193, 46);
     padding: 1rem;
     border-radius: 7px;
     box-shadow:0 2px 0.3rem black;
     
 }
 .play-quiz:hover,.create-quiz:hover{
    box-shadow: 0 0.2rem 0.7rem black;
 }
.create-quiz img{

     height: 40vh;
     width: 100%;
 }
 .play-quiz img{
    width: 100%;
     height:40vh;
 }

 /* -------------Container-------------- */
 
 .show-create-question,
 .show-title-quiz {
     margin-top: 30px;
     padding: 10px;
     border-radius: 10px;
     background: rgb(121, 181, 32);
    border-top: 5px solid rgb(228, 184, 8);
     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }
 
 .container button {
     border: none;
     padding: 9.8px 1.7rem;
     margin-top: 0.6rem;
     margin-left: 0.5rem;
    
 }
 .container button:hover {
    background: rgb(125, 162, 244);
   

}


 /* ----------------------------- Display question   --------------------------   */
 
 input {
     width: 90%;
     display: block;
     font-size: 1.1rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     border: none;
     border-bottom: 1px solid #dbe2e7;
 }
 
 input:focus {
     transition: 0.5s;
     
     outline: none;
     border-bottom: 2px solid #2196F3;
 }
 
 .form-group {
     width: 100%;
     display: flex;
     align-items: center;
 }
 
 .form-group .correct {
     width: 5%;
    
 }
 
 .form-group .as {
     padding: 0.3rem;
     width: 84%;
     padding: 5px 10px;
     border-radius: 3px;
 }
 #title{
     padding: 10px;
     margin: auto;
     border-radius: 4px;
     
 }
 #title-quiz{
    padding: 0.3rem;
 
   

 }
 section #title{
    padding: 0.3rem;
 }
 /* --------------------SIGN IN / SIGN UP ----------------*/
 
 .b-radius {
     border-radius: 30px;
 }
 
 .go-sign-up,
 .go-sign-in {
     cursor: pointer;
     text-decoration: underline;
 }
 
 /*---------------- Display question ----------------- */
 
 .displayQuestion {
     margin-bottom: 100px;
     text-align: center;
     background: none;
 }
 
 .show-question-answers {
     background: #fff;
     border-radius: 5px;
   
 }
 
 .card {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     margin: 20px;
     padding: 10px;
     border: 1px solid var(--main-color-light);
     background-color: white;
     border-radius: 15px;
 }
 
 .title {
     padding: 20px;
 }
 
 .actions {
     width: 10%;
     display: flex;
     justify-content: space-between;
     padding: 5px;
     cursor: pointer;
 }
 
 .actions img {
     width: 30%;
 }
 
 .answers {
     width: 75%;
     margin: auto;
     /* display: flex;
            flex-direction: column;
            margin-left: 13%; */
     display: grid;
     gap: 1rem;
     grid-template-columns: auto auto;
     padding: 10px;
 }
 
 .answerDisplay {
     background: rgb(240, 3, 3);
     border-radius: 5px;
     padding: 10px;
     margin: 5px;
     color: #fff;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }
 
 .displayQuestion .edit {
     width: 5%;
     margin-right: 10px;
     background: #2196F3;
     border-radius: 5px;
 }
 
 .displayQuestion .delete {
     width: 5%;
     margin-left: 18px;
     background: red;
     border-radius: 5px;
 }
 
 
 .container {
     box-sizing: border-box;
     padding-bottom: 1px;
 }
 
 .b-radius {
     border-radius: 10px;
 }
 
.go-sign-up,
.go-sign-in {
    cursor: pointer;
    text-decoration: underline;
}

.go-sign-up:hover,
.go-sign-in:hover {
text-decoration: none;
color: white;
text-decoration: none;
color: white;
}
 
 .grid {
     display: grid;
     grid-template-columns: auto auto auto auto;
     gap: 10px;
     padding: 10px;
     box-sizing: border-box;
 }
 
 .col {
     font-size: 30px;
     width: 110%;
     padding: 10px;
     background: #0cce74;
     display: flex;
     height: 200px;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     cursor: pointer;
     box-sizing: border-box;
 }


#back-from-show-correction, .back-from-noquestion {
    font-size: 20px;
    background: rgb(96, 101, 99);
    text-align: center;
    padding: 7px 30px ;
    color: #fff;
    cursor: pointer;

}


#no-data{
    padding-top: 2rem;
}
#back-from-show-correction:hover, .back-from-noquestion:hover {
    background: rgb(228, 184, 8);
}
.back-btn-correction{
    margin-top: 1rem;
    width: 12%;
    height: 7.5vh;
}


.quiz-title {
    font-size: 30px;
    width: 110%;
    padding: 10px;
    background: rgb(134, 193, 46);
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.quiz-title:hover{
    background: rgb(125, 162, 244);
    color: white;
}
 #progress-bar{
     height: 20px;
     width: 100%;
     background: #000;
 }
.index-question{
    height: 100%;
    background: orange;
    width: 99%;
}
 .answers {
     display: grid;
     grid-template-columns: auto auto;
     gap: 10px;
     /* background-color: #2196F3; */
 }
 
.grid-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 150px
}
 
.grid-item:hover {
    transition-delay:0.4s;
    background-color: rgb(3, 166, 44);
    cursor: pointer;
    border-radius: 6px;
}
 
 .title-question {
     font-size: 30px;
     width: 100%;
 }
 
 .show_score {
     height: 300px;
     /* width: 100%; */
     /* display: flex;
    justify-content: center;
    align-items: center; */
 }
 
 .score {
     font-size: 130px;
 }
 
 .create-question {
     width: 50%;
 }
 
 .bg-correct {
     background: rgb(0, 255, 128);
 }
 
 .bg-incorrect {
     background: rgb(222, 16, 54);
 }
 
 .bg-sm-none {
     background: #fff;
     box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
 }
 .validationchoice{
     margin-left: 4rem;
     margin-top: -1rem;
     
 }
 /* display quiz */
 .title-quiz{
    margin-top: 1.5rem;
    text-align: center;
    text-shadow:0 1px 0.3rem #c0c0be;
 }
 #dom-show-quiz{
     margin-bottom: 1rem;
 
 }
 #dom-show-quiz #quiz{
     margin-top: 0.5rem;
 }
 .btn-find-quiz{
     background: rgb(228, 184, 8);
     width: 12%;
 }
 .btn-find-quiz:hover{
     background: rgb(227, 221, 210);
 }


 #btn-good-bad-answer{
     padding: 40px 10px;
     background: rgb(228, 184, 8);

 }
 #btn-good-bad-answer:hover{
    background: rgb(96, 101, 99);
    color:#fff;
    

    
}
.btn-send{
    margin-top: 1rem;
}
.btn-send #cancel{
    margin-right: 15px;
    background: rgb(96, 101, 99);
    color:#fff;
}

.list-of-orrection{
    font-size: 1.4rem;
    margin-top: 2rem;
    color: rgb(51, 51, 51);
}

/* create quiz */
.show-title-quiz{
    margin-top: 3rem;
    background: rgb(134, 193, 46);
    border-top: 5px solid rgb(228, 184, 8);
    padding: 1rem 2rem;

}
.show-title-quiz input{ 
    background: rgb(128, 174, 58);
    border: none;
    width: 95%;
   

}
.show-title-quiz .hr{
    height: 2px;
    background: #000;
    width: 95%;

}
.btn-cancel-quiz{
    text-decoration: none;
    color: #fff;
    background: rgb(96, 96, 96);
    padding: 0.7rem 1rem;
    margin-top: 1rem;

}
.btn-cancel-quiz:hover{
    text-decoration: none;
    background: rgb(230, 82, 37);
    color: #fff;

 

}
.btn-create-quizzs{
    width: 10%;
    margin-top: -5px;
}
#back-from-show-correction{
    background: rgb(222, 205, 14);

}
#sign-in{
    margin-left: -1px;
}
#sign-up{
    margin-left: -1px;
}
.control-one-quiz{
    width: 95%;
}

.show-history{
    font-size: 1.3rem;
}














 @media (max-width: 768px) {
     .create-question {
         width: 100%;
     }
 }